@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Basic Reset & Body Styling */
body {
    /* Apply Poppins to the body */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif; /* Also apply to headings for consistency */
    color: #2c3e50;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Global Utility Classes */
.section-padded {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-dark {
    background-color: #2c3e50;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.section-light {
    background-color: #fffaf3;
    padding: 80px 20px;
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;
    height: 540px;
}

.section-cta {
    background-color: #1e525c;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.section-cta h2, .section-dark h2 {
    color: white;
    margin-left: 100px;
}

.button-primary {
    background-color: #f79554; /* Diabeter green */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
     border: none;
    font-size: 1.1em;
    font-weight: 600; /* Semi-bold for buttons */
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-left: -400px;
}

.button-primary:hover {
    background-color: #27ae60;
}